/* Mobile-specific styles */
@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    .holder {
        width: 95%;
        max-width: 960px;
        margin: 5% auto;
    }
    
    .header {
        height: auto;
        text-align: center;
        width: 100%;
    }
    
    .logo {
        font-size: 48px;
        margin-bottom: 0;
    }
    
    .navigation {
        padding: 5px;
        width: 100%; 
        margin: 10px auto; 
        padding: 10px;
        box-sizing: border-box;
    }
    
    .container, .containerChat {
        padding: 10px;
        max-width: 100%;
        max-height: 400px;
        height: auto;
        margin: 10px auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .con1, .con3, .con2 {
        width: 100%;
    }
    
    .spacer0, .spacer, .spacer2, .spacer3, .spacer4,
    .spacer5, .spacer6, .spacer7, .spacer8, .spacer9,
    .spacer10, .spacer11, .spacer12 {
        height: 40px;
    }
    
    .donationspace {
        height: auto;
    }
}
